@import "tailwindcss";

html, body {
  @apply bg-black text-white font-sans;
  overflow-x: hidden;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes scroll-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}
.animate-scroll {
  animation: scroll 50s linear infinite;
}
.animate-scroll-reverse {
  animation: scroll-reverse 50s linear infinite;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}